html {
  scroll-behavior: smooth
}
* {
  margin: 0;
  padding: 0
}
h1, h2, h3 {
  font-family:Dimbo, sans-serif
}
p {
  font-family:Dimbo, sans-serif;
}
a.opacity {
  transition: opacity .3s
}
a.opacity:hover {
  opacity: .7
}
body {
    margin: 0;
    background-color: #140301;
    color: #fff;
    font-family: Dimbo, sans-serif;
}
a {
  transition: .3s;
  color: #1a1818;
  text-decoration: none
}
a:hover {
  color: #006241
}
section {
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 0;
  width: 100%;
  min-height: 450px
}
.area-util {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  position: relative;
 
}
#section1 {
    width: 100%;
    height: 723px;
    background-image: url(img/section1-bg.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#destaque-logo {
    position: absolute;
    left: 40%;
    top: 30px;
    width: 20%;
}
#destaque-seta, #elenco-seta {
  position: absolute;
  left: calc(50% - 16.5px);
  top: auto;
  bottom: 30px
}
#sectionx {
    background-image: url(img/video-bg.jpg);
    padding-bottom: 13%;
    margin-bottom: 0;
    min-height: 500px;
    background-position: top;
    background-repeat: no-repeat;
    z-index: 1;
}
#sectionx-titulo {
  margin: 30px auto 50px;
  font-size: 40px;
  text-transform: uppercase
}
#section2 {
  background-color: #262626;
  padding: 80px 0 70px;
  height: calc(100vh - 150px)
}
.text-section p {
  color: #e6e2db;
  font-size: 36px;
  padding-bottom: 10px;
  font-family: druk;
  font-weight: bolder;
  vertical-align: top;
  width: 50%;
  line-height: 1.2;
  margin-left: 1%;
  display: inline-block;
  text-transform: uppercase;
  position: relative
}
.text-section {
  margin: 0 auto 50px;
  width: 85%;
  position: relative
}


.section3 {
  background-color: #1bc757;
  padding: 100px 0 0;
  height: calc(100vh - 100px);
  min-height: 605px
}
.section3 .area-util {
  max-width: 1600px;
  height: 100%
}
.estilo {
  padding-bottom: 16px;
  width: 30vh
}
#section3-txt {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  margin-left: 4%;
  position: relative
}
.section4 {
  background-color: #262626;
  text-align: center;
  height: calc(100vh - 30px);
  min-height: 600px;
  padding: 60px 0 0
}
.section4 .area-util {
  padding-bottom: 30px
}
.section5 {
  background-color: #262626
}
#section6 {
    height: 722px;
  	background-image:url("img/sinopse-imagem.jpg");
}
#section6-demo {
  height: 722px;
  background-image: url("img/footer-bg.jpg");
}
#section6 h2 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 0;
}
#section6 p {
  font-size: 19px;
  margin: 10px 0
}

#section6 p span {color:#ffc09a;    font-size: 25px;}
#mutamba-txt {
    width: 40%;
    display: inline-block;
    margin-right: 0%;
}
footer {
    position: relative;
    z-index: 0;
}
#footer-bg {width: 100%;}
footer .area-util {
  padding: 60px 0 0;
  border-width: 1px 0 1px 0
}
#div-video {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute
}
#area-texto {
  position: absolute;
  top: 9%;
  width: 40%;
  height: 87px;
  text-align: left;
  left: 32px;
  font-size: 22px;
}
.container {
  padding: 50px 20px 20px;
  margin: 0;
  display: block;
  height: auto;
}
.container p h1 {
  text-align: justify;
  font-size: 18px;
  font-weight: 100;
  margin-top: 50px;
  color: #e6e2db
}
.titulo {
  text-align: center;
  font-size: 40px;
  font-weight: 700
}

.seta {
  position: absolute;
  top: calc(50% - 25px);
  z-index: 90;
  transition: opacity .3s
}
.seta:hover {
  opacity: .6
}
.cover {
  cursor: pointer;
  width: 100%;
  height: auto
}
iframe {
    max-width: 1280px;
    height: 45vw;
    max-height: 540px;
    width: 100%;
    min-height: 320px;
}
#video {
  margin: 50px auto -5px;
  position: relative;
  max-width: 1280px;
  max-height: 540px;
	width:54%;
}

/** _______________________________________________________________ **/

#mutamba-silhuetas ul {padding:0;}
#mutamba-silhuetas ul li {
    list-style: none;
    width: 27%;
    margin: 5% 5.2% 5% 0%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

#mutamba-silhuetas ul li img {
	width:100%;
}

.janela-acesa, .ator-mutamba {position: absolute; opacity:0; transition: opacity 0.3s; z-index: 5;left: 0;}

li:hover .janela-acesa, li:hover .ator-mutamba {opacity:1;}
li:hover .ator {opacity:1;}

#mutamba-titulo {
    max-width: 490px;
    width: 90%;
    display: block;
    margin: 30px auto 0px;
}

#mutamba-elenco {
    padding: 0;
    width: 100%;
    font-size: 0;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
	display: none;
}

#elenco-foto {
    width: 100%;
    display: block;
}


#section-elenco .area-util {
    max-width: 100%;
}
#mutamba-elenco li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    position: relative;
}

#mutamba-elenco li img {
	width: 100%;
}

#video-titulo {
    width: 45%;
    display: block;
    margin: 0 auto 0px;
    position: relative;
    top: 50px;
}
#video-titulo img {width: 100%;}

#video-txt {
    padding: 1% 0% 1%;
    margin: 0 auto 0;
    position: relative;
    font-size: 20px;
    width: 85%;
    font-weight: 700;
    text-indent: 25px;
}

#video-txt p {
	font-family: libertine, sans-serif;
}

.img-footer-2{
  width: 61%!important;
  text-align: left;
}
#txt-section {
    min-height: 90px;
    background-image: url(img/txt-bg.png);
    background-size: 100% 100%;
}
#lista-footer {
  position: relative;
	top: 73%;
	width: 100%;
	height: 77px;
	text-align: center;
	left: 2%;
}

#lista-footer a {
    width: 12%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 1%;
    text-align: left;
}
#lista-footer a img {width: 100%;}

#foot-bg {
  background-image: url(img/footer-bg.jpg);
}
#grupotrapo {
    width: 50% !important;
}
#video-txt p {margin: 14px 0;}
/** _______________________________________________________________________________ **/



@media (min-height:800px) and (min-width:791px) and (max-width:1080px) {
  .section4 .area-util {
    top: 10vh
  }
}
@media (max-width:870px) {

}
@media (max-width:1050px) {
  .text-section p {
    font-size: 27px
  }
  #section6 h2 {
    font-size: 18px
  }
  #section6 p {
    font-size: 15px
  }
}
@media (max-width:790px) {
  .container, footer, section {
    height: auto !important
  }

  #footer-bg {
    display: none;
  }

  #section-elenco .area-util {
    padding: 47px;
  }
  .area-util {
    padding: 0 20px;
  }
 #area-texto {
   width: 100%;
 }
  footer, section {
    min-width: 650px
  }
#section1 {
    height: 100vh !important;
    background-image: url(img/section1-bg-m.jpg);
    background-position: top;
}
#destaque-logo {
    display: none;
}
#section6 p {
    font-size: 29px;
    line-height: 1.5;
    margin: 30px 0; 
}
#section6  {
  background-image: url(img/fundo-mobile.jpg);
}

  #mutamba-txt {
    width: 100%;
    display: inline-block;
    text-align:left;
  }

  #area-texto {
    width: 90%;
    display: inline-block;
    text-align:left;
    position: relative;
    font-size: 29px;  
  }
  #area-texto p {
    line-height: 1.5;
    margin: 30px 0;
  }
  #section3-txt {
    display: block;
    vertical-align: top;
    width: 90%;
    margin-left: auto;
    margin-right: auto
  }
  .section3 {
    padding: 50px 0 1px
  }
  .text-section {
    margin: 0 auto 50px;
    width: 95%;
    text-align: center
  }
  .section4 {
    height: unset;
    padding: 100px 0 5px
  }
	
	#mutamba-silhuetas {
    display: block;
    width: 100%;
    margin-left: 0;
}
	
#mutamba-elenco li {
    width: 50%;
}
	
#sectionx {
  background-image: url(img/fundo-mobile-3.jpg);
}
	

#destaque-seta {
    top: 90vh;
    bottom: auto;

}
	
	#elenco-seta {
    bottom: 0;
}
#txt-section {
    padding-bottom: 60px;
}

#video {
    width: 95%;
}
	
	#section-elenco {
    background-image: url(img/fundo-mobile-2.jpg);
    background-size: cover;
}
	
	#mutamba-elenco {
	display: block;
}
	
#elenco-foto {
	display: none;
}

}
@font-face {
  font-family: Dimbo;
  src: url("fonts/DimboItalic.ttf");
  font-weight: 400
}
@font-face {
  font-family: Dimbo;
  src: url("fonts/DimboRegular.ttf");
  font-weight: 700
}
